body {
  /* color: #414141;*/
  color: green;
  background-color: #f3efef; /*bright red*/
  font-weight: bolder;
}
#list {
  color: darkblue;
  background-color: #7faaaf; /*bright red*/
  font-weight: lighter;
}
nav {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: darkgray;
  justify-content: space-around;
  z-index: 110;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
